<h1>Utilisateur</h1>

<form [formGroup]="utilisateurForm" class="utilisateur-form" (ngSubmit)="onSubmit()">
    <p>
        Nom :
        <input type="text" formControlName="nom" placeholder="Nom de l'utilisateur" />
    </p>

    <p>
        Prénom :
        <input type="text" formControlName="prenom" placeholder="Prénom de l'utilisateur" />
    </p>

    <p>
        Login :
        <input type="text" formControlName="login" placeholder="Login de l'utilisateur" />
    </p>

    <p>
        Mot de passe :
        <input type="password" formControlName="pass" placeholder="Mot de passe de l'utilisateur" />
    </p>

    <button type="submit" [disabled]="utilisateurForm.invalid">Déclarer</button>
</form>